

<div id="head">
<div class="s_nav"><a href="./s" class="s_logo" onmousedown="return c({'fm':'tab','tab':'logo'})"><div class="bg logo" title="到首页"></div></a><div class="s_tab" id="s_tab"></div></div>
<form id="form" name="f" action="./s" class="fm">
<span class="bg s_ipt_wr"><input name="wd" id="kw" class="s_ipt" value={{ wd }} maxlength="100" autocomplete="off"></span>
<span class="bg s_btn_wr"><input type="submit" id="su" value="摸一下" class="bg s_btn" onmousedown="this.className='bg s_btn s_btn_h'" onmouseout="this.className='bg s_btn'">
<select name="method" style="width:93px;">
	<option value="1" selected="selected">Okapi</option>
	<option value="2">Vector Space</option>
	<option value="3">Dirichlet Smoothing</option>
	<option value="4">Jelinek-Mercer Smoothing</option>
	<option value="5">Boolean</option>
	</select>

</span>
	
</form>
</div>
<!--
<div id="m" class="s-title-img " style="width:720px;">
<p id="lg" class="s-p-top"> <img src="http://www.baidu.com/img/baidu_sylogo1.gif" width="270" height="129"></p>
<div id="s_fm">
<form name="f" id="form1" action="./s" ">
	<input type="text" name="wd" id="kw1" maxlength="100" style="width:489px;" autocomplete="off">
	<span class="btn_wr s_btn_wr">
	<input type="submit" value="怒而搜之" id="su1" class="btn self-btn" onmousedown="this.className='btn btn_h'" onmouseout="this.className='btn'">
	</span>
</form>
</div>

</div>
-->